.jumbotron {
    background-color: lightskyblue;
}
p {
    margin-left: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button{
    margin-left: 20px;
    margin-bottom: 15px;
    float: left;
    clear: both;
}

li {
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 5px;
}

#display-answer1 {
    float: left;
    /* display: block; */

}

#display-answer2 {
    float: left;
    /* display: block; */
}

#display-answer3 {
    float: left;
    /* display: block; */
}

#display-answer4 {
    float: left;
    /* display: block; */
}

img {
    height: 300px;
    position: absolute;
    top: 200px;
    left: 600px;
}

#correctAnswers {
    clear: both;
    display: block;
}

#incorrectAnswers {
    clear: both;
    display: block;
}
