.jumbotron {
    background-color: #17a2b8;
}

h6 {
    width: 65%;
    margin-left: 20px;
    margin-bottom: 20px;
}

.border {
    border-color: #17a2b8;
    border: 10px solid;
}

p {
    margin-left: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button{
    margin-left: 20px;
    margin-bottom: 15px;
    float: left;
    clear: both;
}

li {
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 5px;
    float: left;
}

div.shadow {
    position: absolute;
    max-width: 70%;
    max-height: 80%;
    top: 50%;
    left: 80%;
    overflow: visible;
}

img.logo {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin-top: -60%;
    margin-left: -20%;
}

#correctAnswers {
    clear: both;
    display: block;
    color: red;
}

#incorrectAnswers {
    clear: both;
    display: block;
    color: red;
}

#totals {
    color: #17a2b8;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 0px;
}
